body{
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
h3 {
    color:grey;
}
#title {
    margin-top: 1em;
    padding: 1em;
}
#container {
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
#addBtn {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;  
}
#todo-text {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;  
    margin: 1em 0em 1em 0em;
}
.count { 
    margin: 1em 0em 0em 0em;
}
#todoHolder { 
    margin: 1em 0em 0em 0em;
}

#todoText {

    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;  
    margin: 1em 0em 1em 0em;
}

#saveBtn {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;  
}

#completeBtn {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;  
}
